*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

:root{
    --black-color: black;
    --white-color: white;
    --background-color:  #4d636f;
}

/* ======================= */
.app{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f7f8;
}

.header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    height: auto;
    align-items: center;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header__sidebar{
    display: flex;
    position: relative;
}

.header__sidebar-link{
    padding: 19px 22px;
    color: var(--white-color);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.8rem;
    z-index: 1;
}

.logo{
    background-color: #3a4b53;
}

.header__sidebar-link-bell{
    padding-right: 40px;
}

.logo:hover,
.header__sidebar-link-bell:hover{
    background-color: #ccc;
    color: var(--black-color);
}

.header__sidebar-link-other:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}

.fa-house{
    padding-right: 12px;
}

.header__sidebar-num{
    display: inline-block;
    position: absolute;
    color: var(--white-color);
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #4CAF50;
    top: 8px;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bell__request{
    display: block;
    flex-direction: column;
    width: auto;
    position: absolute;
    width: 270px;
    display: none;
    top: 58px;
}

.bell__request span{
    padding: 18px 20px;
    color: var(--black-color);
    background-color: var(--white-color);
    cursor: pointer;
    font-size: 1.8rem;
    display: block;
    z-index: 1;
}

.bell__request span:hover{
    background-color: #ccc;
}

.container__dropdown:hover .bell__request{
    display: block;
}

.header__sidebar-img{
    cursor: pointer;
    padding: 10px 14px;
}

.header__sidebar-img img{
    width: 30px;
    border-radius: 50%;
    padding-top: 1px;
    color:var(--white-color);
}

.header__sidebar-icons{
    width: 30px;
    padding-top: 1px;
    color:var(--white-color);
}

.header__sidebar-icons:hover,
.header__sidebar-img:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}

.header__sidebar-icons{
    text-align: center;
    padding: 20px 26px;
    display: none;
    font-size: 1.6rem;
    font-weight: 500;
}

.header__link-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    display: none;
}

.header__link-container span{
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 22px 26px;
    background-color: #4d636f;
}
/* content */
.content{
    max-width: 1400px;
    margin: auto;
    padding-top: 84px;
}


.content__profile
{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #ccc;
    padding: 22px 16px;
    margin-bottom: 26px;
    background-color: var(--white-color);
}

h5{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.content__profile-img{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 22px 0;
    border-bottom: 1px solid #eee;
}

.content__profile-img img{
    width: 106px;
    border-radius: 50%;
}

.content__profile-info{
    font-size: 1.6rem;
    margin-top: 24px;
    font-weight: 400;
}

.content__profile-info i{
    font-size: 1.4rem;
    padding-right: 22px;
    color: #607d8b;
}

/* options */

.content__option{
    background-color: #7d97a5;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #ccc;
    margin-bottom: 26px;
}

.content__option-list{
    border: none;
    text-align: left;
    background-color: #7d97a5;
    padding: 12px 0;
    font-size: 1.6rem;
    color: var(--white-color);
    cursor: pointer;
}


.content__option-list:hover{
    color: var(--black-color);
    background-color: #ccc;
}

.content__option-list i{
    padding:  0 16px;
}

.content__option-list-text{
    display: block;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 20px 16px;
    font-size: 1.6rem;
}

.content__option-img{
    background-color: var(--white-color);
    padding: 22px 32px;
}

.content__option-img img{
    width: 100%;
    margin-bottom: 8px;
    
}

.my_option{
    display: none;
}

/* tag */
.content__interests,
.content__question{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #ccc;
    padding: 22px 16px;
    margin-bottom: 26px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.content__interests-titles{
    font-size: 1.4rem;
    padding-bottom: 26px;
}

.content__interests-tag{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 3px 9px;
    margin-bottom: 4px;
    background-color: var(--colors);
    color: var(--white-color);
}

.content__interests-tag-othercolor{
    color: var(--black-color);
}

/* question */
.content__question{
    background-color: #dfe5e8;
    position: relative;
}

.content__question span{
    padding: 6px 0;
    font-size: 16px;
    line-height: 2rem;
}

.content__quetion-header{
    font-weight: 500;
}

.content__question-btn{
    position: absolute;
    border: none;
    background-color: #becbd2;
    padding: 12px 16px;
    width: 40px;
    top: 0;
    right: 0;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.content__question-btn:focus .content__question{
    display: none;
}

/* =========col 2 ================ */
/* .content__status
{
    margin-left: 32px;
    margin-right: 32px;
} */
.content__status{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #ccc;
    padding: 22px 16px;
    margin-bottom: 26px;
    background-color: var(--white-color);
}

.content__status h6{
    font-size: 1.4rem;
    opacity: 0.6;
    padding: 4px 0;
    font-weight: 400;
}

.content__status p{
    padding: 12px 18px;
    border: 1px solid #ccc;
    margin: 8px 0;
    font-size: 1.4rem;
}

.content__status button{
    display: inline-block;
    padding: 12px 8px;
    border: none;
    background-color: #607d8b;
    width: 85px;
    flex-wrap: nowrap;
    color: var(--white-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.button-i{
    padding-right: 12px;
}

.content__status button:hover{
    background-color: #ccc;
    color: var(--black-color);
}


/* post */

.content__post{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #ccc;
    padding: 22px 16px;
    margin-bottom: 26px;
    background-color: var(--white-color);
}

.content__post-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 1px solid #ccc;
}

.content__post-header-info{
    display: flex;
    align-items: center;
}

.content__post-header-info-img{
    width: 60px;
    border-radius: 50%;
}

.content__post-header-info-name{
    font-size: 2rem;
    font-weight: 400;
    padding-left: 14px;
}

.content__post-header-time{
    font-size: 1.5rem;
    color: var(--black-color);
    opacity: 0.6;
}

.content__post-tenor{
    padding: 16px 0;
}

.post__paragraph{
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.post__col-img{
    width: 100%;
}

.content__post-react{
    margin-top: 14px;
    display: flex;
}

.content__post-react-btn{
    border: none;
    background-color: var(--btn-color);
    padding: 12px 16px;
    margin-right: 4px;
    color: var(--white-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.content__post-react-btn:hover{
    background-color: #ccc;
    color: var(--black-color);
}

/* tool */
.content__tool-event{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #ccc;
    padding: 22px 16px;
    margin-bottom: 26px;
    text-align: center;
    background-color: var(--white-color);
}

.content__tool-event-time{
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.content__tool-event-img,
.content__tool-request-img{
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.content__tool-event-img img ,
.content__tool-request-img img{
    width: 100%;
}

h6{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.content__tool-event-btn{
    border: none;
    padding: 12px;
    background-color: #dfe5e8;
    font-size: 1.5rem;
    cursor: pointer;
}

.content__tool-event-btn:hover{
    background-color: #ccc;
}

/* request */
.content__tool-request,
.content__tool-ads,
.content__tool-bug{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #ccc;
    padding: 22px 16px;
    margin-bottom: 26px;
    text-align: center;
    background-color: var(--white-color);
}


.content__tool-request-img{
    margin-bottom: 2px;
}

.content__tool-react{
    display: flex;
    justify-content: center;
}

.content__tool-react-btn{
    border: none;
    padding: 12px;
    background-color: #dfe5e8;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    background-color: var(--btn-bg);
    color: var(--white-color);
}

.content__tool-react-btn:hover{
    background-color: #ccc;
    color: var(--black-color);
}

.content__tool-ads{
    font-size: 2rem;
    font-weight: 400;
    padding: 30px 0;
}

.content__tool-bug{
    font-size: 3rem;
    padding: 50px 0;
}

/* reponsive */
@media (max-width: 729px){
    .content__option-img,
    .content__interests{
        display: none;
    }
    .col2{
        margin-left: 16px;
        margin-right: 16px;
    }
    .content__tool-request-img img{
        display: none;
    }
    .content__tool-react{
        flex-direction: column;
    }
    .content__tool-react-btn-repon{
        margin-bottom: 20px;
    }
    .content__profile,
    .content__option,
    .content__question{
        margin: 20px 20px;
    }
    .content__status,
    .content__post{
        margin-left: 32px;
        margin-right: 32px;
    }

    .content__tool-event,
    .content__tool-request,
    .content__tool-ads,
    .content__tool-bug{
        margin-left: 16px;
        margin-right: 16px;
    }
    .header__sidebar-link{
        /* font-size: 1.2rem; */
        padding: 19px 16px;
    }

    .header__sidebar-link-other,
    .header__sidebar-link-bell{
        display: none;
    }

    .header__sidebar-img{
        display: none;
    }

    .header__sidebar-icons{
        display: block;
    }
}

.footer{
    display: flex;
    flex-direction: column;
}

.footer span{
    font-size: 2rem;
    background-color: #435761;
    padding: 26px 18px;
    color: var(--white-color);
}

.footer p{
    padding: 26px 18px;
    color: var(--white-color);
    background-color: #303e45;
    font-size: 1.6rem;
}

.footer a{
    color: var(--white-color);
}